<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/vendor/external-bootstrap/bootstrap.unmin.css}"
          href="../public/vendor/external-bootstrap/bootstrap.unmin.css">
    <link rel="stylesheet" th:href="@{/vendor/external-bootstrap/font-awesome.min.css}"
          href="../public/vendor/external-bootstrap/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          href="../public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
          href="../public/vendor/font-awesome/css/font-awesome.min.css">
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="../public/vendor/jquery/jquery.min.js"
            language="JavaScript" type="text/javascript"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js" language="JavaScript"
            type="text/javascript"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
            src="../public/vendor/jquery-easing/jquery.easing.min.js"
            language="JavaScript" type="text/javascript"></script>
    <script th:src="@{/js/addEmployee.js}" src="../public/js/addEmployee.js" language="JavaScript"
            type="text/javascript"></script>
    <script th:src="@{/js/utils.js}" src="../public/js/utils.js" language="JavaScript"
            type="text/javascript"></script>
</head>
<body>


<div class="container">
    <div id="passwordreset" style="margin-top:50px">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Add employee</div>
            </div>
            <div class="panel-body">
                <form id="addNewEmployeeForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class=" control-label col-sm-3">First name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label col-sm-3">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label col-sm-3">CNP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="cnp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label col-sm-3">Function</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="function">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label col-sm-3">Salary</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="salary">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button id="btn-resetPassword" name="submit" type="submit"
                                    class="btn btn-success"
									style="margin-left:500px;width:100px;height:50px">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="color: #1d2124;text-align: center">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>